.imageCard {
    width: 225px;
    height: 150px;
    border-radius: 12px;
    margin: 10px 10px;
    border: 3px solid #0c0f0a;
}

.imageCard:hover {
    -webkit-transform:scale(1.05);
    border: 3px solid #b80c09;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

h1 {
    font-size: 55px;
    font-family: 'Special Elite', cursive;
}

h2 {
    font-size: 36px;
    font-family: 'Kaushan Script', cursive;
}

.cardArea {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 24px;
}

.navbar {
    background-color: #b80c09;
    color: white;
    position: fixed;
    min-height: 70px;
    width: 100%;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}

li {
    font-family: 'Fugaz One', cursive;
}

.head {
    color: white;
    background-color: #14213d;
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
}

.foot {
    width: 100%;
    background-color: #14213d;
    color: white;
    text-align: center;
    float: left;
}

a {
    font-family: 'Fugaz One', cursive;
    margin-left: 12px;
    color: white;
}

.footName {
    font-family: 'Fugaz One', cursive;
}

/* ----------- Mobile Media ------------ */
@media only screen and (max-width: 700px) {

#head1 {
    display: none;
}    

#navbar {
    text-align: center;
}
    
#head2 {
   margin-left: 24px;
}

#head3 {
    margin-left: 40px;
}
}